body {font-family: "Helvetica";}
h1 {font-size:100px;
    font-weight: bold;
    color: khaki;
    text-align: center}
.header {background-image: url(images/pattern.jpeg)}
#brushtitle {font-size: 32px;
            font-weight: bold;
            color: white;
            background-color: mediumspringgreen;}
#framestitle {font-size: 32px;
            font-weight: bold;
            color: white;
            background-color: lightcoral;}
#painttitle {font-size: 32px;
            font-weight: bold;
            color: white;
            background-color: skyblue;}
.price {font-weight: bold;
        color: blue;}